<!-- <p>demopipe works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div>
        {{title|uppercase}}
    </div>
     <div> -->
        <!-- {{today|date:"MMM"|uppercase}} --> 
    <!-- </div> -->
    
    id:{{user.id}}<br>
    name:{{user.name}}<br>
    salary:{{user.salary|currency:'INR'}}
    {{user.name|custpipes:user.name}}

</body>
</html>