
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component2.component.css">
</head>
<body>
   
    <div class="pt2">
        <div class="new">
            <img src="../../assets/kore1.png" alt="" style="height:30px ; width:90px;">
        </div>
        <div class="im">
            <img src="../../assets/dr.jpg" style="height:400px ; width:400px; border-radius: 50%;"/>
        </div>
        <h1 style="text-align: center; color: orange;">SIMPLIFY IoT</h1>
        
        <button (click)="ck1()">click here</button>

    </div>
    
</body>
</html>