<p>KORE POSTERS: </p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component1.component.css">
   
   
</head>
<body>
    
    <div class="pt1">
        <div class="new">
            <img src="../../assets/kore1.png" alt="" style="height:30px ; width:90px;">
        </div>
        <div class="im">
            <img src="../../assets/agile.jfif" style="height:400px ; width:400px; border-radius: 50%;"/>
        </div>
         <h1 style="color: orange;">AGILE</h1>
        <button (click)="ck()">click here</button>

    </div>


</body>
</html>